@import 'app/styles/_include.scss';

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 900;
  letter-spacing: 0.6px;
}

body, html {
  height: 100%;
}

#page-title {
  margin-top: 25px;
}

.align-right {
  text-align: right;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: darken($rcfw-blue, 10%);
  color: white;
}
