<div class="row">
  <div class="col-md-8">
    <h1 id="page-title">Account management</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h5>Email addresses on file</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>test@example.com</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>myemail@renscofirewire.com</td>
        </tr>
        <tr class="addnewtr">
          <th scope="row"></th>
          <td><a class="addnew" href="#"><i class="far fa-plus-square"></i> Add new...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h5>Phone numbers on file</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>(903) 555-1234</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>(508) 555-1212</td>
        </tr>
        <tr class="addnewtr">
          <th scope="row"></th>
          <td><a class="addnew" href="#"><i class="far fa-plus-square"></i> Add new...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>Subscriptions</h4>
  </div>
</div>
<div class="row" id="usersubscriptions">
  <div class="col-xl-4 col-lg-12">
    <h6>test@example.com</h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Station</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Troy Fire Department Station 2</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Troy Fire Department All-Call</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>South Schodack Fire Company</td>
        </tr>
        <tr class="addnewtr">
          <th scope="row"></th>
          <td><a class="addnew" href="#"><i class="far fa-plus-square"></i> Add new...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xl-4 col-lg-12">
    <h6>myemail@renscofirewire.com</h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Station</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Troy Fire Department All-Call</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>South Schodack Fire Company</td>
        </tr>
        <tr class="addnewtr">
          <th scope="row"></th>
          <td><a class="addnew" href="#"><i class="far fa-plus-square"></i> Add new...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xl-4 col-lg-12">
    <h6>(903) 555-1234</h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Station</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Rensselaer Fire Department EMS Alert</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Troy Fire Department All-Call</td>
        </tr>
        <tr class="addnewtr">
          <th scope="row"></th>
          <td><a class="addnew" href="#"><i class="far fa-plus-square"></i> Add new...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xl-4 col-lg-12">
    <h6>(508) 555-1212</h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Station</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Melrose Fire Company</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Troy Fire Department All-Call</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>East Schodack Fire Company</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>South Schodack Fire Department</td>
        </tr>
        <tr class="addnewtr">
          <th scope="row"></th>
          <td><a class="addnew" href="#"><i class="far fa-plus-square"></i> Add new...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
