<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="page-title">Behind the scenes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Rensco Fire Wire is run with consumer, off-the-shelf hardware. The signal chain, from start to end, is:
      </p>
      <ul>
        <li>A Realistic Pro-2006 scanner. This puppy was bought new around 1990 and sat in my father’s office since then. It can scan several frequency ranges from 25 MHz to 1300 MHz— which, prior to the new dispatch system, was perfect for Rensselaer County.</li>
        <li>A Behinger UCA202 audio interface. This is a very basic stereo in/stereo out USB interface. Behringer, admittedly, is not the highest quality brand, but it absolutely gets the job done for radio traffic.</li>
        <li>A Raspberry Pi 2 Model B running TwoToneDetect on Raspbian Jessie. The software, I believe, was originally written in Python for Windows and then ported over to Linux. There are a couple of quirks, and several things could’ve been easier to set up if TTD was open-source. That said, some interesting workarounds allowed everything to come together properly.</li>
        <li>Several custom scripts. These deal with the conversion, management, and uploading of the recorded audio files (and the agency data associated with them) to my web server. A variety of software packages compresses the dynamic range of the audio and equalizes it—both in an effort to make clearer audio and smaller file sizes—before sending the file to the web.</li>
        <li>A VPS hosted by a very good company. The VPS is running Debian Stretch and hosts Rensco Fire Wire as a custom-built site. The site was built using Angular 4, Node.js, and MariaDB.</li>
      </ul>
    </div>
  </div>
</div>
