<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 id="page-title">Dispatches</h1>
    </div>
    <div class="col-md-4" id="searchdiv">
      Search by department:
      <div style="width: 300px; margin-bottom: 20px;">
        <ngx-select [items]="items" [multiple]= true></ngx-select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="dispatch bg-light">
      <h4 class="dispatch-info">{{data.agency}} tones received at {{data.time}}</h4>
      <h6 class="dispatch-date">{{data.date}}</h6>
      <audio controls class="dispatch-audio">
        <source src="https://storage.cloud.google.com/rensco-fire-wire/10080.mp3" type="audio/mpeg" />
      </audio>
    </div>
  </div>
</div>
