<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/feed">Rensco Fire Wire</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/feed">Dispatches<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/behind-the-scenes">Behind the Scenes</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/archive">Archived Dispatches</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/contact">Get in Touch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 id="page-title">Dispatches</h1>
    </div>
    <div class="col-md-4" id="searchdiv">
      Search by department:
      <select class="selectpicker" data-live-search="true" title="Select a department..." id="searchdept">
        <option value="4">Brunwick Fire Co. No. 1</option>
        <optgroup label="Rensselaer Fire Dept.">
          <option value="102" title="Rensselaer Fire Department Fire Alert">Fire Alert</option>
          <option value="121" title="Rensselaer Fire Department EMS Alert">EMS Alert</option>
        </optgroup>
        <option value="58">Rensselaer Volunteer Ambulance</option>
        <option value="43">RPI Ambulance</option>
        <option value="67">Sand Lake Ambulance</option>
        <optgroup label="Troy Fire Dept.">
          <option value="72" title="Troy Fire Department Station 1">Station 1</option>
          <option value="86" title="Troy Fire Department Station 2">Station 2</option>
          <option value="43" title="Troy Fire Department Station 3">Station 3</option>
          <option value="32" title="Troy Fire Department Station 4">Station 4</option>
          <option value="64" title="Troy Fire Department Station 5">Station 5</option>
          <option value="13" title="Troy Fire Department Station 6">Station 6</option>
          <option value="56" title="Troy Fire Department All-call">All-call</option>
        </optgroup>
        <option value="32">Tsatsawassa Protective Fire Co.</option>
        <option value="33">West Sand Lake Fire Dept.</option>
      </select>
    </div>
  </div>
