@import './_include.scss';

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: darken($rcfw-blue, 10%);
  color: white;

  div.row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
}
