@import './_include.scss';

.navbar {
  background-color: $rcfw-blue;

  .navbar-brand {
    font-weight: 800;
  }

  .nav-link {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
  }
}
